PORT=6782
NODE_ENV=development
JWT_SECRET=change-me
JWT_TOKEN_EXPIRES_IN=7d

# Chain (Hardhat local by default)
CHAIN_ID=31337
RPC_URL=http://127.0.0.1:8545
DEPLOYER_PRIVATE_KEY=
TREASURY_ADDRESS=

BET_TOKEN_ADDRESS=
STAKING_ADDRESS=
NFT_ADDRESS=
FORWARDER_ADDRESS=
